label{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h4{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h3{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h2{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h1{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

a{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p{
    font-family: 'Smooch Sans', sans-serif;
}